<p id="notice"><%= notice %></p>

<p>
  <strong>Entitat:</strong>
  <%= @forat.entitat_id %>
</p>

<p>
  <strong>Ambit:</strong>
  <%= @forat.ambit %>
</p>

<p>
  <strong>Nom:</strong>
  <%= @forat.nom %>
</p>

<p>
  <strong>Descripcio:</strong>
  <%= @forat.descripcio %>
</p>

<p>
  <strong>Superficie total:</strong>
  <%= @forat.superficie_total %>
</p>

<p>
  <strong>Superficie opaca:</strong>
  <%= @forat.superficie_opaca %>
</p>

<p>
  <strong>Superficie transparent:</strong>
  <%= @forat.superficie_transparent %>
</p>

<p>
  <strong>Superficie marc:</strong>
  <%= @forat.superficie_marc %>
</p>

<p>
  <strong>Transmitancia opaca:</strong>
  <%= @forat.transmitancia_opaca %>
</p>

<p>
  <strong>Transmitancia transparent:</strong>
  <%= @forat.transmitancia_transparent %>
</p>

<p>
  <strong>Transmitancia marc:</strong>
  <%= @forat.transmitancia_marc %>
</p>

<p>
  <strong>Longitud contacte marc vidre:</strong>
  <%= @forat.longitud_contacte_marc_vidre %>
</p>

<p>
  <strong>Longitud contacte marc opac:</strong>
  <%= @forat.longitud_contacte_marc_opac %>
</p>

<p>
  <strong>Transmitancia linial marc vidre:</strong>
  <%= @forat.transmitancia_linial_marc_vidre %>
</p>

<p>
  <strong>Transmitancia linial marc opac:</strong>
  <%= @forat.transmitancia_linial_marc_opac %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @forat.numero %>
</p>

<p>
  <strong>Percentatge:</strong>
  <%= @forat.percentatge %>
</p>

<%= link_to 'Edit', edit_forat_path(@forat) %> |
<%= link_to 'Back', forats_path %>
