
<div class="reveal" id="modal-component" data-reveal>
  <h3 id="modalTitle"><%= t('.component') %></h3>
  <div id="formulari-component" class="formulari-component">
  </div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="reveal" id="modal-component-predefinit" data-reveal>
  <h3 id="modalTitle"><%= t('.component') %></h3>
  <div id="llistat-components" class="llistat-components">
  </div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="reveal" id="modal-families" data-reveal>
  <h3 id="modalTitle"><%= t('.selecciona_familia') %></h3>
  <div id="llistat-families" class="llistat-families">
    <div class="columna-esquerra-llistat-families">
      <ul>
        <li class="item-families">
          <%= link_to select_component_mur_path(mur_id: @mur.id, familia: "petris"), remote: true do %>
            <%= t('.petris') %>
          <% end %>
        </li>
        <li class="item-families">
          <%= link_to select_component_mur_path(mur_id: @mur.id, familia: "metalls"), remote: true do %>
            <%= t('.metalls') %>
          <% end %>
        </li>
        <li class="item-families">
          <%= link_to select_component_mur_path(mur_id: @mur.id, familia: "fustes"), remote: true do %>
            <%= t('.fustes') %>
          <% end %>
        </li>
        <li class="item-families">
          <%= link_to select_component_mur_path(mur_id: @mur.id, familia: "formigons"), remote: true do %>
            <%= t('.formigons') %>
          <% end %>
        </li>
        <li class="item-families">
          <%= link_to select_component_mur_path(mur_id: @mur.id, familia: "morters"), remote: true do %>
            <%= t('.morters') %>
          <% end %>
        </li>
        <li class="item-families">
          <%= link_to select_component_mur_path(mur_id: @mur.id, familia: "guixos"), remote: true do %>
            <%= t('.guixos') %>
          <% end %>
        </li>
        <li class="item-families">
          <%= link_to select_component_mur_path(mur_id: @mur.id, familia: "lliscats"), remote: true do %>
            <%= t('.lliscats') %>
          <% end %>
        </li>
        <li class="item-families">
          <%= link_to select_component_mur_path(mur_id: @mur.id, familia: "aillants"), remote: true do %>
            <%= t('.aillants') %>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="columna-dreta-llistat-families">
      <ul> 
        <li class="item-families">
          <%= link_to select_component_mur_path(mur_id: @mur.id, familia: "plastics"), remote: true do %>
            <%= t('.plastics') %>
          <% end %>
        </li>
        <li class="item-families">
          <%= link_to select_component_mur_path(mur_id: @mur.id, familia: "cautxus"), remote: true do %>
            <%= t('.cautxus') %>
          <% end %>
        </li>
        <li class="item-families">
          <%= link_to select_component_mur_path(mur_id: @mur.id, familia: "sellants"), remote: true do %>
            <%= t('.sellants') %>
          <% end %>
        </li>
        <li class="item-families">
          <%= link_to select_component_mur_path(mur_id: @mur.id, familia: "bituminosos"), remote: true do %>
            <%= t('.bituminosos') %>
          <% end %>
        </li>
        <li class="item-families">
          <%= link_to select_component_mur_path(mur_id: @mur.id, familia: "textils"), remote: true do %>
            <%= t('.textils') %>
          <% end %>
        </li>
        <li class="item-families">
          <%= link_to select_component_mur_path(mur_id: @mur.id, familia: "ceramics"), remote: true do %>
            <%= t('.ceramics') %>
          <% end %>
        </li>
        <li class="item-families">
          <%= link_to select_component_mur_path(mur_id: @mur.id, familia: "vidres"), remote: true do %>
            <%= t('.vidres') %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<%= simple_form_for(@mur) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="grid-x grid-margin-x">
      <div class="medium-4 cell">
        <%= f.input :nom %>
      </div>
      <div class="medium-8 cell">
        <%= f.input :descripcio %>
      </div>
    </div>
    <div class="grid-x grid-margin-x">
      <div class="medium-4 cell">
        
      </div>
      <div class="medium-8 cell">
        <div class="grid-x grid-margin-x">
          <div class="medium-6 cell">
            <%= f.input :superficie %>
          </div>
          <div class="medium-6 cell">
            <%= f.input :percentatge %>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-x grid-margin-x">
      <div class="medium-4 cell">
        <div id="resultats-transmitancies">
          <%= render  :partial => 'calcul_transmitancia' %>
        </div>
      </div>
      <div class="medium-8 cell">
        <hr/>
        
        <div id="elements-mur">
          <%= t('.text_components') %><br/>

          <div id="components">
            <%= render  :partial => '/component_murs/llistat_components' %>
          </div>

          <%= link_to (new_component_mur_path(mur_id: @mur.id, entitat_id: @entitat.id)), remote: true do %>
            <span class="suma">+</span> <%= t('.nou_component') %>
          <% end %>
          <br/>
          <a id="nou-predefinit"><span class="suma">+</span> <%= t('.nou_component_predefinit') %></a>
          
        </div>
      </div>
    </div>  
  </div>

  <div class="form-actions">
    <%= f.button :submit, t('.guardar'), :class => 'button' %>
  </div>
<% end %>

<script>
  $('#nou-predefinit').click(function() {
    $('#modal-families').foundation('open');
  });
  $('.item-families').click(function() {
    $('#modal-families').foundation('close');
  });
</script>
