<table>
  <thead>
    <tr>
      <th>Component</th>
      <th>Densitat kg/m3</th>
      <th>Conductivitat W/mK</th>
    </tr>
  </thead>

  <tbody>
    <% @component_predefinit_murs.each do |component_predefinit_mur| %>
      <tr>
        <td><%= link_to afegeix_component_mur_path(component_predefinit_id: component_predefinit_mur.id, mur_id: params[:mur_id]), remote: true do %>
          	<% if params[:locale] == 'es' %>
              <%= component_predefinit_mur.nom_es %>
            <% else %>
              <%= component_predefinit_mur.nom_ca %>
            <% end %>
        	<% end %>
        </td>
        <td><%= component_predefinit_mur.densitat %></td>
        <td><%= component_predefinit_mur.conductivitat %></td>
      </tr>
    <% end %>
  </tbody>
</table>