<p id="notice"><%= notice %></p>

<h1>Cobertes</h1>

<table>
  <thead>
    <tr>
      <th>Entitat</th>
      <th>Ambit</th>
      <th>Nom</th>
      <th>Descripcio</th>
      <th>Superficie</th>
      <th>Percentatge</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cobertes.each do |coberta| %>
      <tr>
        <td><%= coberta.entitat_id %></td>
        <td><%= coberta.ambit %></td>
        <td><%= coberta.nom %></td>
        <td><%= coberta.descripcio %></td>
        <td><%= coberta.superficie %></td>
        <td><%= coberta.percentatge %></td>
        <td><%= link_to 'Show', coberta %></td>
        <td><%= link_to 'Edit', edit_coberta_path(coberta) %></td>
        <td><%= link_to 'Destroy', coberta, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coberta', new_coberta_path %>
