<div class="dark-background-container">  
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="medium-12 cell">
        <div class="heavy-container">
          <div class="heavy-title-container">
            <h2 class="heavy-title"><%= t('.account_configuration') %></h2>
          </div>
          <div class="heavy-container-form">
            <%= f.error_notification %>
            
            <div class="grid-x grid-margin-x">
              <div class="medium-4 cell">
                <div class="edit-config-container">
                  <h4><%= t('.personal_data') %></h4>
                  <div class="form-inputs">
                    <%= f.input :first_name, required: true, autofocus: true %>
                    <%= f.input :last_name, required: true %>
                    <%= f.input :email, required: true %>

                    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="medium-4 cell">
                <div class="edit-config-container">
                  <h4><%= t('.change_password') %></h4>
                  <p><%= t('.change_password_text') %></p>
                  <div class="form-inputs">
                    <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
                    <%= f.input :password_confirmation, required: false %>
                    
                  </div>
                </div>
              </div>
              <div class="medium-4 cell">
                <div class="edit-config-container">
                  <h4><%= t('.save_changes') %></h4>
                  <p><%= t('.save_changes_text') %></p>
                  <div class="form-inputs">
                    <%= f.input :current_password, required: true %>
                  </div>

                  <div class="form-actions clearfix">
                    <%= f.button :submit, t('.save_changes'), :class => 'button float-right' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <div class="spacer"></div>

  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="medium-6 cell">
        <div class="heavy-container">
          <div class="heavy-title-container">
            <h2 class="heavy-title"><%= t('.cancel_account') %></h2>
          </div>
          <div class="heavy-container-form">
        
            <p><%= t('.cancel_account_text1') %></p>
            <p><%= t('.cancel_account_text2') %></p>
            <p><%= link_to t('.cancel_account_button'), registration_path(resource_name), data: { confirm: t('.cancel_verification') }, method: :delete, class: 'button alert' %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
