<div class="dark-background-container">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="medium-5 cell">
        <div class="heavy-container">
          <div class="heavy-title-container">
            <h2 class="heavy-title"><%= t('.register_title') %></h2>
          </div>
          <div class="heavy-container-form">    
            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= f.error_notification %>

              <div class="form-inputs">
                <%= f.input :first_name, required: true, autofocus: true %>
                <%= f.input :last_name, required: true %>
                <%= f.input :email,
                            required: true,
                            autofocus: true,
                            input_html: { autocomplete: "email" }%>
                <%= f.input :password,
                            required: true,
                            hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                            input_html: { autocomplete: "new-password" } %>
                <%= f.input :password_confirmation,
                            required: true,
                            input_html: { autocomplete: "new-password" } %>
              </div>

              <div class="form-actions clearfix">
                <%= f.button :submit, t('.register_button'), :class => 'button float-right' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="medium-5 medium-offset-2 cell">
        <p><%= t('.registration_needed') %></p>
        <p><%= t('.if_registered') %> <%= link_to( t('.login_here'), new_user_session_path) %>.</p>
      </div>
    </div>
  </div>
</div>