<p id="notice"><%= notice %></p>

<p>
  <strong>Entitat:</strong>
  <%= @forat_predefinit.entitat_id %>
</p>

<p>
  <strong>Nom:</strong>
  <%= @forat_predefinit.nom %>
</p>

<p>
  <strong>Descripcio:</strong>
  <%= @forat_predefinit.descripcio %>
</p>

<p>
  <strong>Numero forats:</strong>
  <%= @forat_predefinit.numero_forats %>
</p>

<p>
  <strong>Tipus marc:</strong>
  <%= @forat_predefinit.tipus_marc %>
</p>

<p>
  <strong>Superficie marc:</strong>
  <%= @forat_predefinit.superficie_marc %>
</p>

<p>
  <strong>Transmitancia marc:</strong>
  <%= @forat_predefinit.transmitancia_marc %>
</p>

<p>
  <strong>Tipus vidre:</strong>
  <%= @forat_predefinit.tipus_vidre %>
</p>

<p>
  <strong>Superficie vidre:</strong>
  <%= @forat_predefinit.superficie_vidre %>
</p>

<p>
  <strong>Transmitancia vidre:</strong>
  <%= @forat_predefinit.transmitancia_vidre %>
</p>

<p>
  <strong>Longitud contacte vidre:</strong>
  <%= @forat_predefinit.longitud_contacte_vidre %>
</p>

<%= link_to 'Edit', edit_forat_predefinit_path(@forat_predefinit) %> |
<%= link_to 'Back', forat_predefinits_path %>
