<%= simple_form_for(@component_coberta, remote: true) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :coberta_id, as: :hidden, input_html: { value: params[:coberta_id] } %>
    <div class="grid-x grid-margin-x">
      <div class="medium-12 cell">
        <%= f.input :nom %>
      </div>
    </div>
    <div class="grid-x grid-margin-x">
      <div class="medium-6 cell">
        <%= f.input :conductivitat %>
      </div>
      <div class="medium-6 cell">
        <%= f.input :gruix %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>