<table>
  <thead>
    <tr>
      <th><%= t('.component') %></th>
      <th><%= t('.densitat') %> kg/m3</th>
      <th><%= t('.conductivitat') %> W/mK</th>
    </tr>
  </thead>

  <tbody>
    <% @component_predefinit_cobertes.each do |component_predefinit_coberta| %>
      <tr>
        <td><%= link_to afegeix_component_coberta_path(component_predefinit_id: component_predefinit_coberta.id, coberta_id: params[:coberta_id]), remote: true do %>
            <% if params[:locale] == 'es' %>
              <%= component_predefinit_coberta.nom_es %>
            <% else %>
              <%= component_predefinit_coberta.nom_ca %>
            <% end %>
        	<% end %>
        </td>
        <td><%= component_predefinit_coberta.densitat %></td>
        <td><%= component_predefinit_coberta.conductivitat %></td>
      </tr>
    <% end %>
  </tbody>
</table>