<div class="dark-background-container">
	<div class="grid-container">
    <div class="grid-x grid-margin-x">
	    <div class="medium-12 cell">
	    	<div class="heavy-container">
        	<div class="heavy-title-container">
	      		<h2 class="heavy-title"><%= t('.titol_recursos') %></h2>
	      	</div>
	      	
	      	<div class="heavy-container-form">
		      	<p><%= t('.explicacio_recursos') %></p>
		      	<br/>
		      	<div class="grid-x grid-margin-x">
		      		<div class="medium-3 cell">
		      			<h5><%= t('.ponts_termics') %></h5>
		      			<div class="item-recursos">
			      			<%= link_to "https://d116p86eni6yt2.cloudfront.net/imatges/ponts_termics-01.png" do %>
			      			<%= image_tag "https://d116p86eni6yt2.cloudfront.net/imatges/imatge_ponts_termics.jpg" %>
			      			<% end %>
			      		</div>
		      		</div>
		      		<div class="medium-3 cell">
		      			<h5><%= t('.aillament_termic') %></h5>
		      			<div class="item-recursos">
		      				<%= link_to "https://d116p86eni6yt2.cloudfront.net/imatges/aillament_termic-01.png" do %>
		      					<%= image_tag "https://d116p86eni6yt2.cloudfront.net/imatges/imatge_aillament.jpg" %>
		      				<% end %>
		      			</div>
		      		</div>
		      		<div class="medium-3 cell">
		      			<h5><%= t('.habits') %></h5>
		      			<div class="item-recursos">
		      				<%= link_to "https://d116p86eni6yt2.cloudfront.net/imatges/habits-01.png" do %>
		      					<%= image_tag "https://d116p86eni6yt2.cloudfront.net/imatges/imatge_habits.jpg" %>
		      				<% end %>
		      			</div>
		      		</div>
		      	</div>
		      </div>
	      </div>
	    </div>
    </div>
  </div>
</div>