
<%= simple_form_for(@entitat) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :user_id %>
    <%= f.input :ambit %>
    <%= f.input :pare %>
    <%= f.input :tipus_via %>
    <%= f.input :nom_via %>
    <%= f.input :numero_via %>
    <%= f.input :bloc %>
    <%= f.input :codi_postal %>
    <%= f.input :poblacio %>
    <%= f.input :provincia %>
    <%= f.input :any_construccio %>
    <%= f.input :superficie_util %>
    <%= f.input :nom_propietari %>
    <%= f.input :cognoms_propietari %>
    <%= f.input :tipus_document_identitat_propietari %>
    <%= f.input :numero_document_identitat_propietari %>
    <%= f.input :email_propietari %>
    <%= f.input :telefon_propietari %>
    <%= f.input :adreca_propietari %>
    <%= f.input :codi_postal_propietari %>
    <%= f.input :municipi_propietari %>
    <%= f.input :descripcio %>
    <%= f.input :destinacio %>
    <%= f.input :quota %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
