<div class="light-background-container">
  
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="medium-12 cell">
        <div class="boto-retorn">
          <%= link_to entitat_aixecament_path(@entitat) do %>
            <i class="fa fa-arrow-left" aria-hidden="true"></i> <%= t('.aixecament_dades') %>
          <% end %>
        </div>
        <div class="titol-seccio">
          <%= t('.titol') %>
        </div>
      </div>
    </div>

    <div class="grid-x grid-margin-x">
      <div class="medium-12 cell">
        <div class="light-container">
        	<%= simple_form_for(@certificacio) do |f| %>
            <%= f.error_notification %>
            <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

            <div class="form-inputs">
              <div class="grid-x grid-margin-x">
                <div class="medium-4 cell">
                  <%= f.input :visible %>
                </div>
              </div>
              <div class="grid-x grid-margin-x">
                <div class="medium-4 cell">
                  <%= f.input :emissions %>
                </div>
                <div class="medium-4 cell">
                  <%= f.input :lletra_emissions, collection: ['A', 'B', 'C', 'D', 'E', 'F', 'G'] %>
                </div>
              </div>
              <div class="grid-x grid-margin-x">
                <div class="medium-4 cell">
                  <%= f.input :demanda %>
                </div>
                <div class="medium-4 cell">
                  <%= f.input :lletra_demanda, collection: ['A', 'B', 'C', 'D', 'E', 'F', 'G'] %>
                </div>
              </div>
            </div>

            <div class="form-actions">
              <%= f.button :submit, t('.guardar'), :class => 'button' %>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>