<div class="light-background-container">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="medium-12 cell">
				<div class="titol-seccio">
					<%= t('.titol_document') %>
					
				</div>
			</div>
		</div>

		<div class="grid-x grid-margin-x">
			<div class="medium-12 cell">
				<div class="light-container">
					<div class="grid-x grid-margin-x">
						<div class="medium-4 cell">
							<%= image_tag('document_xml.png', :alt => t('.exportar_operacions'), :class => 'imatge-document') %>
							
							<p><%= t('.text_generar_xml') %></p>
						</div>
						<div class="medium-4 cell end">
							<%= image_tag('document_test_energetic.png', :alt => t('.genera_test_energetic'), :class => 'imatge-document') %>
							<%= link_to t('.genera_test_energetic'),
							  entitat_download_path(@entitat, format: "pdf"),
							  target: "_blank",
							  class: "button download" %></p>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
</div>

