<div class="reveal" id="modal-forat" data-reveal>
  <h3 id="modalTitle"><%= t('.elements_predefinits') %></h3>
  <div>
    <ul>
    <% @forats_predefinits.each do |forat| %>
      <li><%= link_to forat.nom, forat_predefinits_afegeix_path(forat_predefinit_id: forat.id, entitat_id: @entitat.id) %></li>
    <% end %>
    </ul>
  </div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="light-background-container">
  
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="medium-12 cell">
        <div class="boto-retorn">
          <%= link_to entitat_aixecament_path(@entitat) do %>
            <i class="fa fa-arrow-left" aria-hidden="true"></i> <%= t('.aixecament_dades') %>
          <% end %>
        </div>
        <div class="titol-seccio">
          <%= t('.titol') %>
        </div>
      </div>
    </div>
        
    <div class="grid-x grid-margin-x">
      <div class="medium-6 cell">
        <div class="light-container envolupant-items-container">
          <h4 class="titol-seccio"><%= t('.murs') %></h4>
          <% if @murs.count == 0 %>
          	<div class="notice-envolupant">
          		<span class="text-notice-envolupant"><%= t('.no_murs') %></span>
          	</div>
          <% else %>
          	<table class="unstriped">
              <tbody>
                <% @murs.each do |mur| %>
                  <tr>
                    <td><%= link_to mur.nom, edit_mur_path(mur) %> <span class="info-subtil">( <%= '%.2f' % mur.transmitancia_mur %> W/m<sup>2</sup>K )</span></td>
                    <td class="columna-eliminar">
                      <%= link_to mur_path(mur), method: :delete, data: { confirm: t('.eliminar') } do %>
                        <i class="fa fa-trash" aria-hidden="true"></i>                 
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table> 
	        <% end %>
          <div class="afegir-element">
      			<%= link_to t('.afegir_element'), new_mur_path(entitat_id: @entitat.id), class: 'link-afegir' %>
      		</div>
        </div>
      </div>
      <div class="medium-6 cell">
        <div class="light-container envolupant-items-container">
          <h4 class="titol-seccio"><%= t('.forats') %></h4>
          <% if @forats.count == 0 %>
          	<div class="notice-envolupant">
          		<span class="text-notice-envolupant"><%= t('.no_forats') %></span>
          	</div>
          <% else %>
            <table class="unstriped">
              <tbody>
    	          <% @forats.each do |forat| %>
                  <tr>
                    <td><%= link_to forat.nom, edit_forat_path(forat) %> <span class="info-subtil">( <%= '%.2f' % forat.transmitancia_global_forat %> W/m<sup>2</sup>K )</span></td>
                    <td class="columna-eliminar">
                      <%= link_to forat_path(forat), method: :delete, data: { confirm: t('.eliminar') } do %>
                        <i class="fa fa-trash" aria-hidden="true"></i>                 
                      <% end %>
                    </td>
                  </tr>
    	          <% end %>
              </tbody>
            </table> 
	        <% end %>
          <div class="afegir-element">
      			<%= link_to t('.afegir_element'), new_forat_path(entitat_id: @entitat.id), class: 'link-afegir' %>
      		</div>
          <div class="afegir-element">
            <a id="nou-forat-predefinit"><%= t('.nou_forat_predefinit') %></a>
          </div>
        </div>
      </div>
    </div>

    <div class="grid-x grid-margin-x">
      <div class="medium-6 cell">
        <div class="light-container envolupant-items-container">
          <h4 class="titol-seccio"><%= t('.cobertes') %></h4>
          <% if @cobertes.count == 0 %>
          	<div class="notice-envolupant">
          		<span class="text-notice-envolupant"><%= t('.no_cobertes') %></span>
          	</div>
          <% else %>
            <table class="unstriped">
              <tbody>
    	          <% @cobertes.each do |coberta| %>
    	          	<tr>
                    <td><%= link_to coberta.nom, edit_coberta_path(coberta) %> <span class="info-subtil">( <%= '%.2f' % coberta.transmitancia_coberta %> W/m<sup>2</sup>K )</span></td>
                    <td class="columna-eliminar">
                      <%= link_to coberta_path(coberta), method: :delete, data: { confirm: t('.eliminar') } do %>
                        <i class="fa fa-trash" aria-hidden="true"></i>                 
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table> 
	        <% end %>
          <div class="afegir-element">
      			<%= link_to t('.afegir_element'), new_coberta_path(entitat_id: @entitat.id), class: 'link-afegir' %>
      		</div>
        </div>
      </div>
      <div class="medium-6 cell">
        <div class="light-container envolupant-items-container">
          <h4 class="titol-seccio"><%= t('.terres') %></h4>
          
          <% if @terres.count == 0 %>
            <div class="notice-envolupant">
              <span class="text-notice-envolupant"><%= t('.no_terres') %></span>
            </div>
          <% else %>
            <table class="unstriped">
              <tbody>
                <% @terres.each do |terra| %>
                  <tr>
                    <td><%= link_to terra.nom, edit_terra_path(terra) %> <span class="info-subtil">( <%= '%.2f' % terra.transmitancia_terra %> W/m<sup>2</sup>K )</span></td>
                    <td class="columna-eliminar">
                      <%= link_to terra_path(terra), method: :delete, data: { confirm: t('.eliminar') } do %>
                        <i class="fa fa-trash" aria-hidden="true"></i>                 
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table> 
          <% end %>
          <div class="afegir-element">
            <%= link_to t('.afegir_element'), new_terra_path(entitat_id: @entitat.id), class: 'link-afegir' %>
          </div>
        </div>
      </div>
    </div>

    <div class="grid-x grid-margin-x">
      <div class="medium-12 cell">
        <div class="light-container envolupant-items-container">
          <h4 class="titol-seccio"><%= t('.calcul_transmitancia') %></h4>
          <div class="notice-envolupant">
            <% if @murs.count == 0 || @forats.count == 0 || @cobertes.count == 0 || @terres.count == 0 %>
              <span class="text-notice-envolupant"><%= t('.falta_info') %></span>
            <% else %>
              <span class="text-notice-envolupant-destacat"><%= @transmitancia_entitat.round(2) %> W/m<sup>2</sup>K</span>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<script>
  $('#nou-forat-predefinit').click(function() {
    $('#modal-forat').foundation('open');
  });
</script>