<div class="reveal" id="modal-habits" data-reveal>
  <h3 id="modalTitle"><%= t('.habit') %></h3>
  <div id="formulari-habit" class="formulari-habit">
  </div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="light-background-container">
  
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="medium-12 cell">
        <div class="boto-retorn">
          <%= link_to entitat_aixecament_path(@entitat) do %>
            <i class="fa fa-arrow-left" aria-hidden="true"></i> <%= t('.aixecament_dades') %>
          <% end %>
        </div>
        <div class="titol-seccio">
          <%= t('.titol') %>
        </div>
      </div>
    </div>

    <div class="grid-x grid-margin-x">
      <div class="medium-12 cell">
        <div class="light-container">
        	<div id="habits">
        		<%= render partial: '/habits/llistat_habits' %>
        	</div>
        	<div class="afegir-element">
            <%= link_to "+ Afegir hàbit", new_habit_path(entitat_id: params[:id]), remote: true, class: 'link-afegir' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>