<div class="light-background-container">
  
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="medium-12 cell">
        <div class="titol-seccio">
          <%= t('.titol') %>
        </div>
      </div>
    </div>
        
    <div class="grid-x grid-margin-x">
      <div class="medium-6 cell">
        <div class="light-container container-separator">
          <div class="ilustracio-iluminacio">
            <%= image_tag "https://d116p86eni6yt2.cloudfront.net/imatges/leds.jpg" %>
          </div>
          <div class="items-iluminacio-container">
            <h4>LEDs</h4>
            <table>
              <thead>
                <tr>
                  <th>Potència (W)</th>
                  <th>Quantitat</th>
                  <th>Hores mensuals</th>
                  <th></th>
                </tr>
              <tbody>
                
                <tr>
                  <td>6</td>
                  <td>8</td>
                  <td>60</td>
                  <td class="columna-eliminar">
                    <%= link_to lampada_path(), method: :delete, data: { confirm: t('.eliminar') } do %>
                      <i class="fa fa-trash" aria-hidden="true"></i>                 
                    <% end %>
                </tr>
                <tr>
                  <td>4</td>
                  <td>2</td>
                  <td>24</td>
                  <td class="columna-eliminar">
                    <%= link_to lampada_path(), method: :delete, data: { confirm: t('.eliminar') } do %>
                      <i class="fa fa-trash" aria-hidden="true"></i>                 
                    <% end %>
                </tr>
                
              </tbody>
            </table> 
            <div class="afegir-element">
              <%= link_to "+ Afegir element", new_lampada_path(), class: 'link-afegir' %>
            </div>
          </div>
        </div>
      </div>
      <div class="medium-6 cell">
        <div class="light-container container-separator">
          <div class="ilustracio-iluminacio">
            <%= image_tag "https://d116p86eni6yt2.cloudfront.net/imatges/baix_consum.jpg" %>
          </div>
          <div class="items-iluminacio-container">
            <h4>Fluorescents compactes</h4>
            <div class="afegir-element">
              <%= link_to "+ Afegir element", new_lampada_path(), class: 'link-afegir' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-x grid-margin-x">
      <div class="medium-6 cell">
        <div class="light-container container-separator">
          <div class="ilustracio-iluminacio">
            <%= image_tag "https://d116p86eni6yt2.cloudfront.net/imatges/fluorescent.jpg" %>
          </div>
          <div class="items-iluminacio-container">
            <h4>Fluorescents</h4>
            <div class="afegir-element">
              <%= link_to "+ Afegir element", new_lampada_path(), class: 'link-afegir' %>
            </div>
          </div>
        </div>
      </div>
      <div class="medium-6 cell">
        <div class="light-container container-separator">
          <div class="ilustracio-iluminacio">
            <%= image_tag "https://d116p86eni6yt2.cloudfront.net/imatges/halogena.jpg" %>
          </div>
          <div class="items-iluminacio-container">
            <h4>Halògenes</h4>
            <div class="afegir-element">
              <%= link_to "+ Afegir element", new_lampada_path(), class: 'link-afegir' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-x grid-margin-x">
      <div class="medium-6 cell">
        <div class="light-container container-separator">
          <div class="ilustracio-iluminacio">
            <%= image_tag "https://d116p86eni6yt2.cloudfront.net/imatges/incandescents.jpg" %>
          </div>
          <div class="items-iluminacio-container">
            <h4>Incandescents</h4>
            <div class="afegir-element">
              <%= link_to "+ Afegir element", new_lampada_path(), class: 'link-afegir' %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>