<div class="reveal" id="modal-iluminacio" data-reveal>
  <h3 id="modalTitle"><%= t('.nova_lampada') %></h3>
  <div id="formulari-iluminacio" class="formulari-iluminacio">
  </div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<div class="light-background-container">
  
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="medium-12 cell">
        <div class="boto-retorn">
          <%= link_to entitat_aixecament_path(@entitat) do %>
            <i class="fa fa-arrow-left" aria-hidden="true"></i> <%= t('.aixecament_dades') %>
          <% end %>
        </div>
        <div class="titol-seccio">
          <%= t('.titol') %>
        </div>
      </div>
    </div>

    <% if @entitat.tipologia == 'Plurifamiliar' %>
      <div class="grid-x grid-margin-x">
        <div class="medium-12 cell">
          <div class="light-container">
            <p>La il·luminació cal definir-la a nivell d'entitats de l'edifici i no a nivell global. O sigui que es defineix a cada pis, local comercial, etc. En aquest apartat només es defineix la il·luminació de les zones comunes de l'edifici.</p>
            <p>A l'apartat de "Selecció d'àmbit" pots seleccionar l'entitat on definir la il·luminació.</p>
            <p><%= link_to t('.seleccio_ambit'), entitat_ambits_path(@entitat.id), class:'button' %></p>
          </div>
        </div>
      </div>

      <br/>

      <div class="grid-x grid-margin-x">
        <div class="medium-12 cell">
          <div class="titol-seccio">
            <%= t('.iluminacio_zones_comunes') %>
          </div>
        </div>
      </div>
      
    <% end %>

        
    <div class="grid-x grid-margin-x">
      <div class="medium-6 cell">
        <div class="light-container container-separator">
          <div class="ilustracio-iluminacio">
            <%= image_tag "https://d116p86eni6yt2.cloudfront.net/imatges/leds.jpg" %>
          </div>
          <div class="items-iluminacio-container">
            <h4 class="titol-tipus-iluminacio">LEDs</h4>
            <div id="leds">
              <%= render partial: '/lampades/leds' %>
            </div>
            <div class="afegir-element">
              <%= link_to "+ Afegir element", new_lampada_path(entitat_id: params[:id], tipologia: 'led'), remote: true, class: 'link-afegir' %>
            </div>
          </div>
        </div>
      </div>
      <div class="medium-6 cell">
        <div class="light-container container-separator">
          <div class="ilustracio-iluminacio">
            <%= image_tag "https://d116p86eni6yt2.cloudfront.net/imatges/baix_consum.jpg" %>
          </div>
          <div class="items-iluminacio-container">
            <h4 class="titol-tipus-iluminacio">Fluorescents compactes</h4>
            <div id="fluorescents-compactes">
              <%= render partial: '/lampades/fluorescents_compactes' %>
            </div>
            <div class="afegir-element">
              <%= link_to "+ Afegir element", new_lampada_path(entitat_id: params[:id], tipologia: 'fluorescent_compacte'), remote: true, class: 'link-afegir' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-x grid-margin-x">
      <div class="medium-6 cell">
        <div class="light-container container-separator">
          <div class="ilustracio-iluminacio">
            <%= image_tag "https://d116p86eni6yt2.cloudfront.net/imatges/fluorescent.jpg" %>
          </div>
          <div class="items-iluminacio-container">
            <h4 class="titol-tipus-iluminacio">Fluorescents</h4>
            <div id="fluorescents">
              <%= render partial: '/lampades/fluorescents' %>
            </div>
            <div class="afegir-element">
              <%= link_to "+ Afegir element", new_lampada_path(entitat_id: params[:id], tipologia: 'fluorescent'), remote: true, class: 'link-afegir' %>
            </div>
          </div>
        </div>
      </div>
      <div class="medium-6 cell">
        <div class="light-container container-separator">
          <div class="ilustracio-iluminacio">
            <%= image_tag "https://d116p86eni6yt2.cloudfront.net/imatges/halogena.jpg" %>
          </div>
          <div class="items-iluminacio-container">
            <h4 class="titol-tipus-iluminacio">Halògenes</h4>
            <div id="halogenes">
              <%= render partial: '/lampades/halogenes' %>
            </div>
            <div class="afegir-element">
              <%= link_to "+ Afegir element", new_lampada_path(entitat_id: params[:id], tipologia: 'halogena'), remote: true, class: 'link-afegir' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-x grid-margin-x">
      <div class="medium-6 cell">
        <div class="light-container container-separator">
          <div class="ilustracio-iluminacio">
            <%= image_tag "https://d116p86eni6yt2.cloudfront.net/imatges/incandescents.jpg" %>
          </div>
          <div class="items-iluminacio-container">
            <h4 class="titol-tipus-iluminacio">Incandescents</h4>
            <div id="incandescents">
              <%= render partial: '/lampades/incandescents' %>
            </div>
            <div class="afegir-element">
              <%= link_to "+ Afegir element", new_lampada_path(entitat_id: params[:id], tipologia: 'incandescent'), remote: true, class: 'link-afegir' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>