<p id="notice"><%= notice %></p>

<h1>Entitats</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Ambit</th>
      <th>Pare</th>
      <th>Tipus via</th>
      <th>Nom via</th>
      <th>Numero via</th>
      <th>Bloc</th>
      <th>Codi postal</th>
      <th>Poblacio</th>
      <th>Provincia</th>
      <th>Any construccio</th>
      <th>Superficie util</th>
      <th>Nom propietari</th>
      <th>Cognoms propietari</th>
      <th>Tipus document identitat propietari</th>
      <th>Numero document identitat propietari</th>
      <th>Email propietari</th>
      <th>Telefon propietari</th>
      <th>Adreca propietari</th>
      <th>Codi postal propietari</th>
      <th>Municipi propietari</th>
      <th>Descripcio</th>
      <th>Destinacio</th>
      <th>Quota</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entitats.each do |entitat| %>
      <tr>
        <td><%= entitat.user_id %></td>
        <td><%= entitat.ambit %></td>
        <td><%= entitat.pare %></td>
        <td><%= entitat.tipus_via %></td>
        <td><%= entitat.nom_via %></td>
        <td><%= entitat.numero_via %></td>
        <td><%= entitat.bloc %></td>
        <td><%= entitat.codi_postal %></td>
        <td><%= entitat.poblacio %></td>
        <td><%= entitat.provincia %></td>
        <td><%= entitat.any_construccio %></td>
        <td><%= entitat.superficie_util %></td>
        <td><%= entitat.nom_propietari %></td>
        <td><%= entitat.cognoms_propietari %></td>
        <td><%= entitat.tipus_document_identitat_propietari %></td>
        <td><%= entitat.numero_document_identitat_propietari %></td>
        <td><%= entitat.email_propietari %></td>
        <td><%= entitat.telefon_propietari %></td>
        <td><%= entitat.adreca_propietari %></td>
        <td><%= entitat.codi_postal_propietari %></td>
        <td><%= entitat.municipi_propietari %></td>
        <td><%= entitat.descripcio %></td>
        <td><%= entitat.destinacio %></td>
        <td><%= entitat.quota %></td>
        <td><%= link_to 'Show', entitat %></td>
        <td><%= link_to 'Edit', edit_entitat_path(entitat) %></td>
        <td><%= link_to 'Destroy', entitat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entitat', new_entitat_path %>
