<% if params[:ambit] == 'subentitat' %>

	<div class="dark-background-container">
	  <div class="grid-container">
	    <div class="grid-x grid-margin-x">
	    	<div class="medium-12 cell">
		      <div class="heavy-container">
		        <div class="heavy-title-container">
		          <h2 class="heavy-title"><%= t('.titol_entitat') %></h2>
		        </div>
		        <div class="heavy-container-form">
							<%= simple_form_for(@entitat) do |f| %>
							  <%= f.error_notification %>
							  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

							  <div class="form-inputs">
							    <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
							    <%= f.input :ambit, as: :hidden, input_html: { value: 'subentitat' } %>
							    <%= f.input :pare, as: :hidden, input_html: { value: params[:entitat_pare]} %>
							    <div class="grid-x grid-margin-x">
							      <div class="medium-6 cell">
							        <%= f.input :nom %>
							      </div>
							      <div class="medium-6 cell">
							        <%= f.input :descripcio %>
							      </div>
							    </div>
							    <div class="grid-x grid-margin-x">
							      <div class="medium-3 cell">
							        <%= f.input :superficie_util %>
							      </div>
							      <div class="medium-3 cell">
							        <%= f.input :quota %>
							      </div>
							      <div class="medium-6 cell">
							        <%= f.input :destinacio, collection: [[t('.habitatge'), 'Habitatge'], [t('.local'), 'Local'], [t('.traster'), 'Traster'], [t('.magatzem'), 'Magatzem'], [t('.garatge'), 'Garatge']] %>
							      </div>
							    </div>
							    <div class="grid-x grid-margin-x">
							      <div class="medium-12 cell">
							        <div class="divider"></div>
							        <h4 class="titol-apartat"><%= t('.dades_propietat') %></h4>
							      </div>
							    </div>
							    <div class="grid-x grid-margin-x">
							      <div class="medium-6 cell">
							        <%= f.input :nom_propietari %>
							      </div>
							      <div class="medium-6 cell">
							        <%= f.input :cognoms_propietari %>
							      </div>
							    </div>
							    <div class="grid-x grid-margin-x">
							      <div class="medium-6 cell">
							        <%= f.input :email_propietari %>
							      </div>
							      <div class="medium-6 cell">
							        <%= f.input :telefon_propietari %>
							      </div>
							    </div>
							    <div class="grid-x grid-margin-x">
							      <div class="medium-6 cell">
							        <%= f.input :adreca_propietari %>
							      </div>
							      <div class="medium-3 cell">
							        <%= f.input :codi_postal_propietari %>
							      </div>
							      <div class="medium-3 cell">
							        <%= f.input :poblacio_propietari %>
							      </div>
							    </div>
							  </div>

							  <div class="spacer"></div>
							  <div class="form-actions">
							    <div class="button-right-container">
							      <%= f.button :submit, t('.guardar'), :class => 'button button-right' %>
							    </div>
							  </div>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="grid-container">
	    <div class="grid-x grid-margin-x">
				<div class="medium-12 cell">
					<div class="alternatives-container-under">
						<%= link_to t('.tornar_entitats'), entitat_ambits_path(params[:entitat_pare]) %>
					</div>
				</div>
			</div>
		</div>
	</div>

<% else %>

	<div class="dark-background-container">
	  <div class="grid-container">
	    <div class="grid-x grid-margin-x">
	    	<div class="medium-12 cell">
		      <div class="heavy-container">
		        <div class="heavy-title-container">
		          <h2 class="heavy-title"><%= t('.titol') %></h2>
		        </div>
		        <div class="heavy-container-form">
							<%= simple_form_for(@entitat) do |f| %>
							  <%= f.error_notification %>
							  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

							  <div class="form-inputs">
							    <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
							    <%= f.input :ambit , as: :hidden, input_html: { value: 'edifici' } %>
							    <div class="grid-x grid-margin-x">
										<div class="medium-12 cell">
											<div class="titol-numerat-formulari">
												<div class="numero-titol-numerat-formulari">
													1
												</div>
												<div class="text-titol-numerat-formulari">
													<%= t('.identificar_test') %>
												</div>
											</div>
											<p class="info-subtil"><%= t('.text_identificar_test') %></p>
							    		<div class="grid-x grid-margin-x">
												<div class="medium-6 cell">
							    				<%= f.input :nom %>
							    			</div>
							    		</div>
							    	</div>
							    </div>

							    <div class="spacer"></div>

							    <div class="grid-x grid-margin-x">
										<div class="medium-12 cell">
											<div class="titol-numerat-formulari">
												<div class="numero-titol-numerat-formulari">
													2
												</div>
												<div class="text-titol-numerat-formulari">
													<%= t('.dades_edifici') %>
												</div>
											</div>
							    		<div class="grid-x grid-margin-x">
									      <div class="medium-2 cell">
									        <%= f.input :tipus_via, collection: ['Avinguda', 'Carrer', 'Carretera', 'Passeig', 'Passatge', 'Plaça', 'Rambla', 'Ronda'] %>
									      </div>
									      <div class="medium-6 cell">
									        <%= f.input :nom_via %>
									      </div>
									      <div class="medium-2 cell">
									        <%= f.input :numero_via %>
									      </div>
									      <div class="medium-2 cell">
									        <%= f.input :bloc %>
									      </div>
									    </div>

									    <div class="grid-x grid-margin-x">
									      <div class="medium-2 cell">
									        <%= f.input :codi_postal %>
									      </div>
									      <div class="medium-6 cell">
									        <%= f.input :poblacio %>
									      </div>
									      <div class="medium-4 cell">
									        <%= f.input :provincia, collection: ['Barcelona', 'Girona', 'Lleida', 'Tarragona'] %>
									      </div>
									    </div>

									    <div class="grid-x grid-margin-x">
									      <div class="medium-2 cell">
									        <%= f.input :any_construccio %>
									      </div>
									      <div class="medium-2 cell">
									        <%= f.input :superficie_util %>
									      </div>
									      <div class="medium-3 cell">
									        <%= f.input :altitud_municipi %>
									      </div>
									    </div>

									    <div class="grid-x grid-margin-x">
									      <div class="medium-3 cell">
									        <%= f.input :tipologia, collection: ['Plurifamiliar', 'Unifamiliar'], default: 1 %>
									      </div>
									      <div class="medium-6 cell">
									        <%= f.input :imatge_entitat, as: :file %>
									        <% if @entitat.imatge_entitat.attached? %>
									          <%= image_tag @entitat.imatge_entitat.variant(auto_orient: true) %>
									        <% end %>
									      </div>
									    </div>

							    	</div>
							    </div>

							    <div class="spacer"></div>

							    <div class="grid-x grid-margin-x">
										<div class="medium-12 cell">
											<div class="titol-numerat-formulari">
												<div class="numero-titol-numerat-formulari">
													3
												</div>
												<div class="text-titol-numerat-formulari">
													<%= t('.dades_propietat') %>
												</div>
											</div>

											<div class="grid-x grid-margin-x">
				              	<div class="medium-6 cell" id="seleccio-regim-juridic">
					              	<fieldset>
										        <%= f.input :regim_juridic, 
										          :collection => [[t('.propietat_horitzontal'), 'Propietat horitzontal'], [t('.propietat_vertical'), 'Propietat vertical']], 
										          :as => :radio_buttons %>
										      </fieldset>
										      <div class="grid-x grid-margin-x">
							            	<div class="medium-12 cell">
								              <div class="spacer"></div>
								              <div class="identificacio-title">
													      <span class="title"><%= t('.dades_propietari') %></span>
													    </div>
													  </div>
													</div>
										    </div>
					            </div>
					            

									    <div class="grid-x grid-margin-x">
									      <div class="medium-4 cell">
									        <%= f.input :nom_propietari %>
									      </div>
									      <div class="medium-8 cell">
									        <%= f.input :cognoms_propietari %>
									      </div>
									    </div>

									    <div class="grid-x grid-margin-x">
									      <div class="medium-4 cell">
									        <%= f.input :tipus_identificacio_propietari, :collection => [[t('.dni'), 'DNI'], [t('.nie'), 'NIE'], [t('.passaport'), 'Passaport'], [t('.nif'), 'NIF']] %>
									      </div>
									      <div class="medium-4 cell end">
									        <%= f.input :identificacio_propietari %>
									      </div>
									    </div>
									    
									    <div class="grid-x grid-margin-x">
									      <div class="medium-4 cell">
									        <%= f.input :email_propietari %>
									      </div>
									      <div class="medium-4 cell">
									        <%= f.input :telefon_propietari %>
									      </div>
									      
									    </div>
									    
									    <div class="grid-x grid-margin-x">
									      <div class="medium-4 cell">
									        <%= f.input :adreca_propietari %>
									      </div>
									      <div class="medium-2 cell">
									        <%= f.input :codi_postal_propietari %>
									      </div>
									      <div class="medium-3 cell">
									        <%= f.input :poblacio_propietari %>
									      </div>
									      <div class="medium-3 cell">
									        <%= f.input :provincia_propietari %>
									      </div>
									    </div>
										</div>
									</div>

									<div class="spacer"></div>

							    <div class="grid-x grid-margin-x">
										<div class="medium-12 cell">
											<div class="titol-numerat-formulari">
												<div class="numero-titol-numerat-formulari">
													4
												</div>
												<div class="text-titol-numerat-formulari">
													<%= t('.dades_tecnic') %>
												</div>
											</div>

											<div class="grid-x grid-margin-x">
									      <div class="medium-4 cell">
				              		<%= f.input :nom_tecnic %>
				              	</div>
				              	<div class="medium-8 cell">
				              		<%= f.input :cognoms_tecnic %>
				              	</div>
				              </div>
				              <div class="grid-x grid-margin-x">
									      <div class="medium-4 cell">
				              		<%= f.input :tipus_identificacio_tecnic, collection: ['NIF', 'NIE', 'CIF'] %>
				              	</div>
				              	<div class="medium-4 cell end">
				              		<%= f.input :identificacio_tecnic %>
				              	</div>
				              </div>
				              <div class="grid-x grid-margin-x">
									      <div class="medium-4 cell">
				              		<%= f.input :titulacio_tecnic %>
				              	</div>
				              	<div class="medium-4 cell">
				              		<%= f.input :colegi_tecnic %>
				              	</div>
				              	<div class="medium-4 cell">
				              		<%= f.input :num_colegiat_tecnic %>
				              	</div>
				              </div>
				              <div class="grid-x grid-margin-x">
				              	<div class="medium-8 cell">
				              		<%= f.input :adreca_tecnic %>
				              	</div>
				              </div>
				              <div class="grid-x grid-margin-x">
									      <div class="medium-4 cell">
				              		<%= f.input :codi_postal_tecnic %>
				              	</div>
				              	<div class="medium-4 cell">
				              		<%= f.input :poblacio_tecnic %>
				              	</div>
				              	<div class="medium-4 cell">
				              		<%= f.input :provincia_tecnic %>
				              	</div>
				              </div>
				              <div class="grid-x grid-margin-x">
									      <div class="medium-4 cell">
				              		<%= f.input :telefon_tecnic %>
				              	</div>
				              	<div class="medium-4 cell end">
				              		<%= f.input :email_tecnic %>
				              	</div>
				              </div>
				            </div>
				          </div>				  

								  <div class="form-actions">
								  	<div class="button-right-container">
								    	<%= f.button :submit, t('.guardar'), :class => 'button button-right' %>
								    </div>
								  </div>
								  
								
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="grid-container">
	    <div class="grid-x grid-margin-x">
				<div class="medium-12 cell">
					<div class="alternatives-container-under">
						<%= link_to t('.tornar_projectes'), entitats_path %>
					</div>
				</div>
			</div>
		</div>
	</div>

<% end %>

<script>
	$('#entitat_tipologia').change(function() {
	  if($(this).val() == 'Unifamiliar') {
	  	$('#seleccio-regim-juridic').hide();
	  }
	  else {
	  	$('#seleccio-regim-juridic').show();
	  }
	});
</script>