
  <div class="print-logo">
    <h1 class="print-h1">TEST ENERGÈTIC</h1>
  </div>
  <div class="print-top-info">
    <span>testenergetic.apabcn.cat</span><br/>
    <span>info@apabcn.cat</span><br/>
    <span>Tel. 932402060</span>
  </div>

  <div class="print-titol">
    <h2 class="print-h2"><%= entitat.nom %></h2>
  </div>

 	<div class="print-info-basica">
    <div class="print-propietari">
      <h5 class="print">Sol·licitant:</h5>
      <span><%= entitat.nom_propietari + ' ' + entitat.cognoms_propietari %></span><br/>
      <span><%= entitat.tipus_identificacio_propietari + ': ' + entitat.identificacio_propietari %></span>
    </div>
    <div class="print-adreca">
    <% if entitat.bloc.blank?
        adreca = entitat.tipus_via.to_s + ' ' + entitat.nom_via.to_s + ' ' + entitat.numero_via.to_s
      else
        adreca = entitat.tipus_via.to_s + ' ' + entitat.nom_via.to_s + ' ' + entitat.numero_via.to_s + ', bloc ' + entitat.bloc.to_s
      end
    %>
      <h5 class="print">Adreça:</h5>
      <span><%= adreca %></span><br/>
      <span>Codi postal: <%= entitat.codi_postal %></span><br/>
      <span>Municipi: <%= entitat.poblacio %></span>
    </div>
    <div class="print-caracteristiques">
      <h5 class="print">Característiques:</h5>
      <span><%= entitat.tipologia %></span><br/>
      <span>Superfície: <%= entitat.superficie_util%> m<sup>2</sup></span><br/>
      <span>Any de construcció: <%= entitat.any_construccio %> </span>
    </div>
  </div>

  <% if entitat.certificacio.visible == true %>
    <div class="print-apartat">
      <h4 class="print">Qualificació energètica</h4>
      <div class="print-etiqueta">
        <h5 class="print">Emissions de CO<sub>2</sub></h5>
        <p class="valors-etiqueta"><%= entitat.certificacio.emissions.round %> kgCO<sub>2</sub>/m<sup>2</sup>any</p>
        <span class="text-tips">Més eficient</span><br/>
        <% case entitat.certificacio.lletra_emissions
        when 'A'
          imatge = 'https://s3-eu-west-1.amazonaws.com/testenergetic/imatges/etiqueta_a.jpg'
        when 'B'
          imatge = 'https://s3-eu-west-1.amazonaws.com/testenergetic/imatges/etiqueta_b.jpg'
        when 'C'
          imatge = 'https://s3-eu-west-1.amazonaws.com/testenergetic/imatges/etiqueta_c.jpg'
        when 'D'
          imatge = 'https://s3-eu-west-1.amazonaws.com/testenergetic/imatges/etiqueta_d.jpg'
        when 'E'
          imatge = 'https://s3-eu-west-1.amazonaws.com/testenergetic/imatges/etiqueta_e.jpg'
        when 'F'
          imatge = 'https://s3-eu-west-1.amazonaws.com/testenergetic/imatges/etiqueta_f.jpg'
        when 'G'
          imatge = 'https://s3-eu-west-1.amazonaws.com/testenergetic/imatges/etiqueta_g.jpg'
        end %>
        <%= image_tag(imatge, width: "200", height: "139") %><br/>
        <span class="text-tips">Menys eficient</span>
      </div>

      <div class="print-etiqueta">
        <h5 class="print">Demanda d'energia primària</h5>
        <p class="valors-etiqueta"><%= entitat.certificacio.demanda.round %> kWh/m<sup>2</sup>any</p>
        <span class="text-tips">Més eficient</span><br/>
        <% case entitat.certificacio.lletra_demanda
        when 'A'
          imatge = 'https://s3-eu-west-1.amazonaws.com/testenergetic/imatges/etiqueta_a.jpg'
        when 'B'
          imatge = 'https://s3-eu-west-1.amazonaws.com/testenergetic/imatges/etiqueta_b.jpg'
        when 'C'
          imatge = 'https://s3-eu-west-1.amazonaws.com/testenergetic/imatges/etiqueta_c.jpg'
        when 'D'
          imatge = 'https://s3-eu-west-1.amazonaws.com/testenergetic/imatges/etiqueta_d.jpg'
        when 'E'
          imatge = 'https://s3-eu-west-1.amazonaws.com/testenergetic/imatges/etiqueta_e.jpg'
        when 'F'
          imatge = 'https://s3-eu-west-1.amazonaws.com/testenergetic/imatges/etiqueta_f.jpg'
        when 'G'
          imatge = 'https://s3-eu-west-1.amazonaws.com/testenergetic/imatges/etiqueta_g.jpg'
        end %>
        <%= image_tag(imatge, width: "200", height: "139") %><br/>
        <span class="text-tips">Menys eficient</span>
      </div>
    </div>
  <% end %>

  <%
  propostes = Proposta.where(entitat_id: entitat.id)
  consums_globals = ConsumGlobal.find_by(entitat_id: entitat.id)
  # Calculem estalvi total
  consum_total = consums_globals.consum_anual_electricitat + consums_globals.consum_anual_gas + consums_globals.consum_anual_gasoil
  estalvi_total_optimista = 0
  propostes.each do |proposta|
    estalvi_total_optimista += proposta.estalvi_optimista
  end
  consum_potencial = consum_total - (consum_total * (estalvi_total_optimista/100))
  despesa_actual = consums_globals.despesa_anual_electricitat + consums_globals.despesa_anual_gas + consums_globals.despesa_anual_gasoil
  diners_estalviats = despesa_actual * (estalvi_total_optimista/100)
  despesa_estalvi_optimista = despesa_actual - diners_estalviats
  %>


  <div class="container-estalvi-millores">
    <div class="print-apartat">
      <h4 class="print">Potencial d'estalvi aplicant millores</h4>
      <div class="percentatge-estalvi">
        <div class="numero-percentatge-estalvi">
          <%= estalvi_total_optimista.round %>% <span class="numero-percentatge-estalvi-petit">del consum <sup>*</sup></span>
        </div>
        <div class="text-percentatge-estalvi">
          <p>Aplicant les propostes de millora podríeu estalviar un <%= estalvi_total_optimista.round %>% de l'energia que consumiu cada any.</p>
        </div>
      </div>
      <div class="diners-estalvi">
        <div class="numero-diners-estalvi">
          <%= diners_estalviats.round %>€ <span class="numero-diners-estalvi-petit">cada any <sup>*</sup></span>
        </div>
        <div class="text-diners-estalvi">
          <p>Si porteu a terme les propostes de millora podreu estalviar <%= diners_estalviats.round %>€ cada any.</p>
        </div>
      </div>

      

      <div class="print-comparacio-energia">
        <div class="tip-consum consum-actual" style="position: absolute; top: 0px; right: 136px; text-align: right; border-right-style: solid; border-right-width: 2px; border-right-color: #333333; padding-right: 5px; height: 50px; width: 200px;">
          <span>Consum actual</span><br/>
          <span><%= consum_total %> kWh/any</span>
        </div>

        <% #Posem el consum real a 480px de l'esquerra. La posició del consum de millores es busca a partir d'aquesta dada %>
        <% posicio_consum_millores = consum_potencial*(480/consum_total.to_d) %>
        <div class="tip-consum consum-millores" style="position: absolute; top: 70px; left: <%= posicio_consum_millores %>px; text-align: left; border-left-style: solid; border-left-width: 2px; border-left-color: #333333; padding-left: 5px; padding-top: 20px; height: 30px; width: 300px;">
          <span>Consum aplicant propostes de millora</span><br/>
          <span><%= consum_potencial %> kWh/any</span>
        </div>
        <div class="print-barra-energia">
          <%= image_tag('https://s3-eu-west-1.amazonaws.com/testenergetic/imatges/barra_energia.png', :alt => 'barra energia', :class => 'img_barra_energia') %>
        </div>
        <p class="print-llegenda"><sup>*</sup>El consum d'energia d'un edifici no es pot predir amb exactitud perquè depèn de molts factors variables com l'ús de l'edifici o el clima. Per aquesta raó les estimacions d'estalvi energètic d'aquest document són orientatives.</p>
      </div>
    </div>
  </div>

  <div class="container-info-tecnic">
    <div class="print-info-tecnic">
      <h5 class="print">Nom del tècnic:</h5>
      <p><%= entitat.nom_tecnic %> <%= entitat.cognoms_tecnic %></p>
      <h5 class="print">Titulació:</h5>
      <p><%= entitat.titulacio_tecnic %></p>
    </div>
    <div class="print-info-tecnic2">
      <h5 class="print">Correu electrònic:</h5>
      <p><%= entitat.email_tecnic %></p>
      <h5 class="print">Telèfon:</h5>
      <p><%= entitat.telefon_tecnic %></p>
    </div>
    <div class="print-data-signatura">
      <h5 class="print">Data i signatura:</h5>

    </div>
  </div>

  <div class="pagebreak">
    <h3 class="print">Descripció de l'edifici</h3>
  </div>

  <div class="print-apartat">
    <h4 class="print">Envolupant tèrmica</h4>
    <% entitat.murs.each do |mur| %>
      <h5 class="print"><%= mur.nom %></h5>
      <p><%= mur.descripcio %></p>
    <% end %>
  </div>

  <div class="pagebreak">
    <h3 class="print">Propostes de millora</h3>
  </div>

  <% propostes = Proposta.where(entitat_id: entitat.id) %>
  
  <% propostes.each do |proposta| %>
    <div class="print-apartat contenidor-millores">
      <h4 class="print"><%= proposta.mesura %></h4>
      <div class="print-dades-proposta">
        
        <div class="container-element-lateral">
          <p>Estalvi optimista: <br/><span class="valors-propostes"><%= proposta.estalvi_optimista %> %</span></p>
          <p>Estalvi pessimista: <br/><span class="valors-propostes"><%= proposta.estalvi_pessimista %> %</span></p>
          <p>Cost optimista: <br/><span class="valors-propostes"><%= number_to_currency(proposta.cost_optimista) %></span></p>
          <p>Cost pessimista: <br/><span class="valors-propostes"><%= number_to_currency(proposta.cost_pessimista) %></span></p>
        </div>
        <p class="print-explicacio-proposta"><%= proposta.descripcio %></p>
      </div>
    </div>
  <% end %>
  
