<% entitat = Entitat.find(params[:id]) %>

  <div class="print-logo">
    <h1 class="print-h1">TEST ENERGÉTICO</h1>
  </div>
  <div class="print-top-info">
    <span>testenergetic.apabcn.cat</span><br/>
    <span>info@apabcn.cat</span><br/>
    <span>Tel. 932402060</span>
  </div>

  <div class="print-titol">
    <h2 class="print-h2"><%= entitat.nom %></h2>
  </div>

  <div class="print-info-basica">
    <div class="print-propietari">
      <h5 class="print">Solicitante:</h5>
      <span><%= entitat.nom_propietari + ' ' + entitat.cognoms_propietari %></span><br/>
      <% if entitat.ambit != "subentitat" %>
        <span><%= entitat.tipus_identificacio_propietari + ': ' + entitat.identificacio_propietari %></span>
      <% end %>
    </div>
    <div class="print-adreca">
    <% if entitat.ambit == "subentitat" %>
      <% entitat_pare = Entitat.find(entitat.pare) %>
      <% if entitat_pare.bloc.blank?
          adreca = entitat_pare.tipus_via.to_s + ' ' + entitat_pare.nom_via.to_s + ' ' + entitat_pare.numero_via.to_s
        else
          adreca = entitat_pare.tipus_via.to_s + ' ' + entitat_pare.nom_via.to_s + ' ' + entitat_pare.numero_via.to_s + ', bloc ' + entitat_pare.bloc.to_s
        end
      %>
    <% else %>
      <% if entitat.bloc.blank?
          adreca = entitat.tipus_via.to_s + ' ' + entitat.nom_via.to_s + ' ' + entitat.numero_via.to_s
        else
          adreca = entitat.tipus_via.to_s + ' ' + entitat.nom_via.to_s + ' ' + entitat.numero_via.to_s + ', bloc ' + entitat.bloc.to_s
        end
      %>
    <% end %>

      <h5 class="print">Dirección:</h5>
      <span><%= adreca %></span><br/>
      <% if entitat.ambit == "subentitat" %>
        <% entitat_pare = Entitat.find(entitat.pare) %>
        <span>Código postal: <%= entitat_pare.codi_postal %></span><br/>
        <span>Municipio: <%= entitat_pare.poblacio %></span>
      <% else %>
        <span>Código postal: <%= entitat.codi_postal %></span><br/>
        <span>Municipio: <%= entitat.poblacio %></span>
      <% end %>
      
    </div>
    <div class="print-caracteristiques">
      <h5 class="print">Características:</h5>
      <% if entitat.ambit == "subentitat" %>
        <% entitat_pare = Entitat.find(entitat.pare) %>
        <span><%= entitat_pare.tipologia %></span><br/>
      <% else %>
        <span><%= entitat.tipologia %></span><br/>
      <% end %>
      <span>Superficie: <%= entitat.superficie_util%> m<sup>2</sup></span><br/>
      <% if entitat.ambit == "subentitat" %>
        <% entitat_pare = Entitat.find(entitat.pare) %>
        <span>Año de construcción: <%= entitat_pare.any_construccio %> </span>
      <% else %>
        <span>Año de construcción: <%= entitat.any_construccio %> </span>
      <% end %>
    </div>
  </div>

  <% if entitat.certificacio.visible == true %>
    <div class="print-apartat">
      <h4 class="print">Calificación energética</h4>
      <div class="print-etiqueta">
        <h5 class="print">Emisiones de CO<sub>2</sub></h5>
        <p class="valors-etiqueta"><%= entitat.certificacio.emissions.round %> kgCO<sub>2</sub>/m<sup>2</sup>año</p>
        <span class="text-tips">Más eficiente</span><br/>
        <% case entitat.certificacio.lletra_emissions
        when 'A'
          imatge = 'http://testenergeticv3.s3-eu-west-1.amazonaws.com/imatges/qualificacio_energetica/etiqueta_a.jpg'
        when 'B'
          imatge = 'http://testenergeticv3.s3-eu-west-1.amazonaws.com/imatges/qualificacio_energetica/etiqueta_b.jpg'
        when 'C'
          imatge = 'http://testenergeticv3.s3-eu-west-1.amazonaws.com/imatges/qualificacio_energetica/etiqueta_c.jpg'
        when 'D'
          imatge = 'http://testenergeticv3.s3-eu-west-1.amazonaws.com/imatges/qualificacio_energetica/etiqueta_d.jpg'
        when 'E'
          imatge = 'http://testenergeticv3.s3-eu-west-1.amazonaws.com/imatges/qualificacio_energetica/etiqueta_e.jpg'
        when 'F'
          imatge = 'http://testenergeticv3.s3-eu-west-1.amazonaws.com/imatges/qualificacio_energetica/etiqueta_f.jpg'
        when 'G'
          imatge = 'http://testenergeticv3.s3-eu-west-1.amazonaws.com/imatges/qualificacio_energetica/etiqueta_g.jpg'
        end %>
        <%= image_tag(imatge, width: "200", height: "139") %><br/>
        <span class="text-tips">Menos eficiente</span>
      </div>

      <div class="print-etiqueta">
        <h5 class="print">Demanda de energía primaria</h5>
        <p class="valors-etiqueta"><%= entitat.certificacio.demanda.round %> kWh/m<sup>2</sup>any</p>
        <span class="text-tips">Más eficiente</span><br/>
        <% case entitat.certificacio.lletra_demanda
        when 'A'
          imatge = 'http://testenergeticv3.s3-eu-west-1.amazonaws.com/imatges/qualificacio_energetica/etiqueta_a.jpg'
        when 'B'
          imatge = 'http://testenergeticv3.s3-eu-west-1.amazonaws.com/imatges/qualificacio_energetica/etiqueta_b.jpg'
        when 'C'
          imatge = 'http://testenergeticv3.s3-eu-west-1.amazonaws.com/imatges/qualificacio_energetica/etiqueta_c.jpg'
        when 'D'
          imatge = 'http://testenergeticv3.s3-eu-west-1.amazonaws.com/imatges/qualificacio_energetica/etiqueta_d.jpg'
        when 'E'
          imatge = 'http://testenergeticv3.s3-eu-west-1.amazonaws.com/imatges/qualificacio_energetica/etiqueta_e.jpg'
        when 'F'
          imatge = 'http://testenergeticv3.s3-eu-west-1.amazonaws.com/imatges/qualificacio_energetica/etiqueta_f.jpg'
        when 'G'
          imatge = 'http://testenergeticv3.s3-eu-west-1.amazonaws.com/imatges/qualificacio_energetica/etiqueta_g.jpg'
        end %>
        <%= image_tag(imatge, width: "200", height: "139") %><br/>
        <span class="text-tips">Menos eficiente</span>
      </div>
    </div>
  <% end %>

  <%
  propostes = Proposta.where(entitat_id: entitat.id)
  consums_globals = ConsumGlobal.find_by(entitat_id: entitat.id)
  # Calculem estalvi total
  consum_total = consums_globals.consum_anual_electricitat + consums_globals.consum_anual_gas + consums_globals.consum_anual_gasoil
  estalvi_total_optimista = 0
  propostes.each do |proposta|
    estalvi_total_optimista += proposta.estalvi_optimista
  end
  consum_potencial = consum_total - (consum_total * (estalvi_total_optimista/100))
  despesa_actual = consums_globals.despesa_anual_electricitat + consums_globals.despesa_anual_gas + consums_globals.despesa_anual_gasoil
  diners_estalviats = despesa_actual * (estalvi_total_optimista/100)
  despesa_estalvi_optimista = despesa_actual - diners_estalviats
  %>


  <div class="container-estalvi-millores">
    <div class="print-apartat">
      <h4 class="print">Potencial de ahorro aplicando mejoras</h4>
      <div class="percentatge-estalvi">
        <div class="numero-percentatge-estalvi">
          <%= estalvi_total_optimista.round %>% <span class="numero-percentatge-estalvi-petit">del consum <sup>*</sup></span>
        </div>
        <div class="text-percentatge-estalvi">
          <p>Aplicando las propuestas de mejora podría ahorrar un <%= estalvi_total_optimista.round %>% de la energía que consume cada año.</p>
        </div>
      </div>
      <div class="diners-estalvi">
        <div class="numero-diners-estalvi">
          <%= diners_estalviats.round %>€ <span class="numero-diners-estalvi-petit">cada año <sup>*</sup></span>
        </div>
        <div class="text-diners-estalvi">
          <p>Si lleva a cabo las propuestas de mejora puede ahorrar <%= diners_estalviats.round %>€ cada año.</p>
        </div>
      </div>

      

      <div class="print-comparacio-energia">
        <div class="tip-consum consum-actual" style="position: absolute; top: 0px; right: 136px; text-align: right; border-right-style: solid; border-right-width: 2px; border-right-color: #333333; padding-right: 5px; height: 50px; width: 200px;">
          <span>Consumo actual</span><br/>
          <span><%= consum_total %> kWh/any</span>
        </div>

        <% #Posem el consum real a 480px de l'esquerra. La posició del consum de millores es busca a partir d'aquesta dada %>
        <% posicio_consum_millores = consum_potencial*(480/consum_total.to_d) %>
        <div class="tip-consum consum-millores" style="position: absolute; top: 70px; left: <%= posicio_consum_millores %>px; text-align: left; border-left-style: solid; border-left-width: 2px; border-left-color: #333333; padding-left: 5px; padding-top: 20px; height: 30px; width: 300px;">
          <span>Consumo aplicando propuestas de mejora</span><br/>
          <span><%= consum_potencial %> kWh/año</span>
        </div>
        <div class="print-barra-energia">
          <%= image_tag('http://testenergeticv3.s3-eu-west-1.amazonaws.com/imatges/qualificacio_energetica/barra_energia.png', :alt => 'barra energia', :class => 'img_barra_energia') %>
        </div>
        <p class="print-llegenda"><sup>*</sup>El consumo de energía de un edificio no se puede predecir con exactitud porque depende de muchos factores variables como el uso del edificio o el clima. Por esta razón las estimaciones de ahorro energético de este documento son orientativas.</p>
      </div>
    </div>
  </div>

  <div class="container-info-tecnic">
  <% if entitat.ambit == "subentitat" %>
      <% entitat_pare = Entitat.find(entitat.pare) %>
      <div class="print-info-tecnic">
      <h5 class="print">Nombre del técnico:</h5>
      <p><%= entitat_pare.nom_tecnic %> <%= entitat_pare.cognoms_tecnic %></p>
      <h5 class="print">Titulación:</h5>
      <p><%= entitat_pare.titulacio_tecnic %></p>
    </div>
    <div class="print-info-tecnic2">
      <h5 class="print">Correo electrónico:</h5>
      <p><%= entitat_pare.email_tecnic %></p>
      <h5 class="print">Teléfono:</h5>
      <p><%= entitat_pare.telefon_tecnic %></p>
    </div>
  <% else %>
      <div class="print-info-tecnic">
      <h5 class="print">Nombre del técnico:</h5>
      <p><%= entitat.nom_tecnic %> <%= entitat.cognoms_tecnic %></p>
      <h5 class="print">Titulación:</h5>
      <p><%= entitat.titulacio_tecnic %></p>
    </div>
    <div class="print-info-tecnic2">
      <h5 class="print">Correo electrónico:</h5>
      <p><%= entitat.email_tecnic %></p>
      <h5 class="print">Teléfono:</h5>
      <p><%= entitat.telefon_tecnic %></p>
    </div>
  <% end %>
    
    <div class="print-data-signatura">
      <h5 class="print">Fecha y firma:</h5>

    </div>
  </div>

  <br/>

  <div class="pagebreak">
    <h3 class="print">Descripción del edificio</h3>
  </div>

  <div class="print-apartat">
    <h4 class="print">Envolvente térmica</h4>
    <% entitat.murs.each do |mur| %>
      <h5 class="print"><%= mur.nom %></h5>
      <p><%= mur.descripcio %></p>
    <% end %>
  </div>

  <%
  def nom_llum(nom)
    case nom
    when 'led'
      return 'LED'
    when 'fluorescent_compacte'
      return 'Fluorescente compacto'
    when 'fluorescent'
      return 'Fluorescente'
    when 'halogena'
      return 'Halógena'
    when 'incandescent'
      return 'Incandescente'
    end
  end
  %>

  <div class="print-apartat">
    <h4 class="print">Iluminación</h4>
    <table>
      <theader>
        <th>Tipología</th>
        <th>Potencia (W)</th>
        <th>Cantidad</th>
        <th>Consumo mensual (kWh)</th>
      </theader>
      <tbody>
        <% consum_total = 0 %>
        <% entitat.lampades.each do |lampada| %>
          <tr>
            <td><%= nom_llum(lampada.tipologia) %></td>
            <td><%= lampada.potencia %></td>
            <td><%= lampada.numero %></td>
            <% consum = (lampada.potencia * lampada.hores_mensuals * lampada.numero)/1000 %>
            <td><%= consum %></td>
            <% consum_total += consum %>
        <% end %>
      </tbody>
    </table>
    <br/>
    <h5 class="print">Consumo total en iluminación</h5>
    <p><%= consum_total %> kWh al mes.</p>
  </div>

  <% 
  def nom_clima(nom)
    case nom
    when 'caldera_mixta_gas'
      return 'Caldera mixta de gas'
    when 'caldera_gas'
      return 'Caldera de gas'
    when 'caldera_gasoil'
      return 'Caldera de gasoil'
    when 'caldera_biomassa'
      return 'Caldera de biomasa'
    when 'radiadors_electrics'
      return 'Radiadores eléctricos'
    when 'estufes_electriques'
      return 'Estufas eléctricas'
    when 'bomba_calor'
      return 'Bomba de calor'
    when 'llar_de_foc'
      return 'Chimenea'
    when 'aire_condicionat'
      return 'Aire acondicionado tipo split'
    when 'escalfador_gas'
      return 'Calentador instantáneo de gas'
    when 'termoacumulador_electric'
      return 'Termoacumulador eléctrico'
    else
      return 'No definido'
    end
  end
  %>

  <div class="print-apartat">
    <h4 class="print">ACS y climatización</h4>
    <h5 class="print">Sistema principal de calefacción</h5>
    <p><%= nom_clima(entitat.climatitzacio.tipologia_calefaccio_1) %></p>
    <% if entitat.climatitzacio.tipologia_calefaccio_2 != 'no' %>
      <h5 class="print">Sistema secundario de calefacción</h5>
      <p><%= nom_clima(entitat.climatitzacio.tipologia_calefaccio_2) %></p>
    <% end %>
    <% if entitat.climatitzacio.tipologia_refrigeracio != 'no' %>
      <h5 class="print">Sistema de refrigeración</h5>
      <p><%= nom_clima(entitat.climatitzacio.tipologia_refrigeracio) %></p>
    <% end %>
    <h5 class="print">Sistema de Agua Caliente Sanitaria (ACS)</h5>
    <p><%= nom_clima(entitat.climatitzacio.tipologia_acs) %></p>
    <% if entitat.climatitzacio.generacio != 'no' %>
      <h5 class="print">Captadores solares térmicos</h5>
      <p>El edificio dispone de captadores solares térmicos que cubren un <%= entitat.climatitzacio.percentatge_captadors_termics %>% de la demanda de calefacción y ACS.</p>
    <% end %>
  </div>

  <div class="print-apartat">
    <h4 class="print">Aparatos</h4>
    <% entitat.aparells.each do |aparell| %>
      <h5 class="print"><%= aparell.nom %></h5>
      <p>Estimación de consumo mensual: <%= aparell.consum_mensual %> kWh</p>
    <% end %>
  </div>

  <div class="print-apartat">
    <h4 class="print">Consumo de energía</h4>
    <h5 class="print">Consumo anual de electricidad</h5>
    <p><%= entitat.consum_global.consum_anual_electricitat %> kWh - <%= entitat.consum_global.despesa_anual_electricitat %> €</p>
    <% if entitat.consum_global.consum_anual_gas != 0 %>
    <h5 class="print">Consumo anual de gas</h5>
    <p><%= entitat.consum_global.consum_anual_gas %> kWh - <%= entitat.consum_global.despesa_anual_gas %> €</p>
    <% end %>
    <% if entitat.consum_global.consum_anual_gasoil != 0 %>
    <h5 class="print">Consumo anual de gasoil</h5>
    <p><%= entitat.consum_global.consum_anual_gasoil %> kWh - <%= entitat.consum_global.despesa_anual_gasoil %> €</p>
    <% end %>
  </div>


  <div class="pagebreak">
    <h3 class="print">Propuestas de mejora</h3>
  </div>

  <% propostes = Proposta.where(entitat_id: entitat.id) %>
  
  <% propostes.each do |proposta| %>
    <div class="print-apartat contenidor-millores">
      <h4 class="print"><%= proposta.mesura %></h4>
      <div class="print-dades-proposta">
        
        <div class="container-element-lateral">
          <p>Ahorro optimista: <br/><span class="valors-propostes"><%= proposta.estalvi_optimista %> %</span></p>
          <p>Ahorro pesimista: <br/><span class="valors-propostes"><%= proposta.estalvi_pessimista %> %</span></p>
          <p>Coste optimista: <br/><span class="valors-propostes"><%= number_to_currency(proposta.cost_optimista) %></span></p>
          <p>Coste pesimista: <br/><span class="valors-propostes"><%= number_to_currency(proposta.cost_pessimista) %></span></p>
        </div>
        <p class="print-explicacio-proposta"><%= proposta.descripcio %></p>
      </div>
    </div>
  <% end %>

  <br/>

  <div class="pagebreak">
    <h4 class="print">Coste económico de la energía consumida en 15 años</h4>
  </div>

  <div class="print-apartat">
    <%
    @propostes = Proposta.where(entitat_id: entitat.id)
    @consums_globals = ConsumGlobal.find_by(entitat_id: entitat.id)
    @despesa_actual = Array.new
    @despesa_estalvi_optimista = Array.new
    @despesa_estalvi_pessimista = Array.new
    @estalvi_total_optimista = Array.new
    @any = Array.new
    despesa_acumulada = 0
    despesa_acumulada_optimista = 0
    despesa_acumulada_pessimista = 0
    increment_preu_electricitat = 2.5
    increment_preu_gas = 2.0
    # Els 15 anys de rang que hem definit
    for i in 0..14 do
      estalvi_total_optimista = 0
      estalvi_total_pessimista = 0
      data = Date.today.year + i 
      puts "Data actual"
      puts data
      @any[i] = data
      @propostes.each do |proposta|
        if proposta.data_any <= data
          estalvi_total_optimista += proposta.estalvi_optimista
          puts 'Nom proposta'
          puts proposta.mesura
          puts 'Data'
          puts data
          puts 'Estalvi total optimista:'
          puts estalvi_total_optimista
          estalvi_total_pessimista += proposta.estalvi_pessimista
          puts 'Estalvi total pessimista:'
          puts estalvi_total_pessimista
        end
      end

      despesa = @consums_globals.despesa_anual_electricitat * (1 + increment_preu_electricitat/100)**i + @consums_globals.despesa_anual_gas * (1 + increment_preu_gas/100)**i
      despesa_acumulada += despesa
      @despesa_actual[i] = despesa_acumulada

      despesa_optimista = despesa - despesa*(estalvi_total_optimista/100)
      despesa_acumulada_optimista += despesa_optimista
      @despesa_estalvi_optimista[i] = despesa_acumulada_optimista

      despesa_pessimista = despesa - despesa*(estalvi_total_pessimista/100)
      despesa_acumulada_pessimista += despesa_pessimista
      @despesa_estalvi_pessimista[i] = despesa_acumulada_pessimista
    end
    %>
    <div id="curve_chart"></div>
  </div>
  <div class="print-apartat">    
    <div class="text-despesa-economica-print">
      <% estalvi = @despesa_actual[14] - @despesa_estalvi_optimista[14] %>
      <p>Gasto económico en 15 años: <br/><span class="valors_despesa_energetica"><%= number_to_currency(@despesa_actual[14]) %></span></p>
      <p>Gasto económico aplicando mejoras: <br/><span class="valors_despesa_energetica"><%= number_to_currency(@despesa_estalvi_optimista[14]) %></span></p> 
      <p>Ahorro económico en 15 años: <br/><span class="valors_despesa_energetica"><%= number_to_currency(estalvi) %></span></p>
    </div>
          
    <div class="text-impacte-ambiental-print">
      <% impacte_15 = (@despesa_actual[14] * 0.4)/1000
      impacte_millores = (@despesa_estalvi_optimista[14] * 0.4)/1000
      estalvi_co2 = ((@despesa_actual[14] - @despesa_estalvi_optimista[14]) * 0.4)/1000 %>
      <p>Emisiones de CO<sub>2</sub> en 15 años: <br/><span class="valors_despesa_energetica"><%= impacte_15.round(2) %> t</span></p>
      <p>Emisiones de CO<sub>2</sub> aplicando mejoras: <br/><span class="valors_despesa_energetica"><%= impacte_millores.round(2) %> t</span></p>
      <p>Reducción de emisiones de CO<sub>2</sub>: <br/><span class="valors_despesa_energetica"><%= estalvi_co2.round(2) %> t</span></p>
    </div>
   
  </div>

  


<script type="text/javascript">
  function init() {
      google.load("visualization", "1.1", { packages:["corechart"], callback: 'drawCharts' });
  }

  function drawCharts() {
      drawAccountImpressions('curve_chart');
  }
  
  function drawAccountImpressions(containerId) {
      var data = google.visualization.arrayToDataTable([
        ['Año', 'Gasto actual', 'Gasto optimista', 'Gasto pesimista'],
        <% for i in 0..14 do %> 
          ['<%= Date.today.year + i %>', <%= @despesa_actual[i] %>, <%= @despesa_estalvi_optimista[i] %>, <%= @despesa_estalvi_pessimista[i] %>],
        <% end %>
      ]);

      var options = {
          width: 700,
          height: 400,
          vAxis: { minValue: 0 },
          curveType: 'function',
          chartArea: {
              top: 30,
              left: 50,
              height: '70%',
              width: '100%'
          },
          legend: 'bottom'
      };

      var chart = new google.visualization.LineChart(document.getElementById(containerId));
      chart.draw(data, options);
  }
</script>
