<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @entitat.user_id %>
</p>

<p>
  <strong>Ambit:</strong>
  <%= @entitat.ambit %>
</p>

<p>
  <strong>Pare:</strong>
  <%= @entitat.pare %>
</p>

<p>
  <strong>Tipus via:</strong>
  <%= @entitat.tipus_via %>
</p>

<p>
  <strong>Nom via:</strong>
  <%= @entitat.nom_via %>
</p>

<p>
  <strong>Numero via:</strong>
  <%= @entitat.numero_via %>
</p>

<p>
  <strong>Bloc:</strong>
  <%= @entitat.bloc %>
</p>

<p>
  <strong>Codi postal:</strong>
  <%= @entitat.codi_postal %>
</p>

<p>
  <strong>Poblacio:</strong>
  <%= @entitat.poblacio %>
</p>

<p>
  <strong>Provincia:</strong>
  <%= @entitat.provincia %>
</p>

<p>
  <strong>Any construccio:</strong>
  <%= @entitat.any_construccio %>
</p>

<p>
  <strong>Superficie util:</strong>
  <%= @entitat.superficie_util %>
</p>

<p>
  <strong>Nom propietari:</strong>
  <%= @entitat.nom_propietari %>
</p>

<p>
  <strong>Cognoms propietari:</strong>
  <%= @entitat.cognoms_propietari %>
</p>

<p>
  <strong>Tipus document identitat propietari:</strong>
  <%= @entitat.tipus_document_identitat_propietari %>
</p>

<p>
  <strong>Numero document identitat propietari:</strong>
  <%= @entitat.numero_document_identitat_propietari %>
</p>

<p>
  <strong>Email propietari:</strong>
  <%= @entitat.email_propietari %>
</p>

<p>
  <strong>Telefon propietari:</strong>
  <%= @entitat.telefon_propietari %>
</p>

<p>
  <strong>Adreca propietari:</strong>
  <%= @entitat.adreca_propietari %>
</p>

<p>
  <strong>Codi postal propietari:</strong>
  <%= @entitat.codi_postal_propietari %>
</p>

<p>
  <strong>Municipi propietari:</strong>
  <%= @entitat.municipi_propietari %>
</p>

<p>
  <strong>Descripcio:</strong>
  <%= @entitat.descripcio %>
</p>

<p>
  <strong>Destinacio:</strong>
  <%= @entitat.destinacio %>
</p>

<p>
  <strong>Quota:</strong>
  <%= @entitat.quota %>
</p>

<%= link_to 'Edit', edit_entitat_path(@entitat) %> |
<%= link_to 'Back', entitats_path %>
