
<%= simple_form_for(@lampada) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :entitat_id %>
    <%= f.input :ambit %>
    <%= f.input :tipologia %>
    <%= f.input :descripcio %>
    <%= f.input :numero %>
    <%= f.input :potencia %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
