
<%= simple_form_for(@climatitzacio, remote: true) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    

    <% if params[:sistema] == 'calefaccio_1' %>
      <div class="grid-x grid-margin-x">
        <div class="medium-12 cell">
          <%= f.input :tipologia_calefaccio_1, collection: [[t('.caldera_mixta_gas'), 'caldera_mixta_gas'], [t('.caldera_gas'), 'caldera_gas'], [t('.caldera_gasoil'), 'caldera_gasoil'], [t('.caldera_biomassa'), 'caldera_biomassa'], [t('.radiadors_electrics'), 'radiadors_electrics'], [t('.estufes_electriques'), 'estufes_electriques'], [t('.bomba_calor'), 'bomba_calor'], [t('.llar_de_foc'), 'llar_de_foc'], [t('.cap_sistema'), 'cap_sistema']] %>
        </div>
      </div>
      <div class="grid-x grid-margin-x">
        <div class="medium-6 cell">
          <%= f.input :antiguitat_calefaccio_1 %>
        </div>
      </div>
    <% end %>
    
    <% if params[:sistema] == 'calefaccio_2' %>
      <div class="grid-x grid-margin-x">
        <div class="medium-12 cell">
          <%= f.input :tipologia_calefaccio_2, collection: [[t('.caldera_mixta_gas'), 'caldera_mixta_gas'], [t('.caldera_gas'), 'caldera_gas'], [t('.caldera_gasoil'), 'caldera_gasoil'], [t('.caldera_biomassa'), 'caldera_biomassa'], [t('.radiadors_electrics'), 'radiadors_electrics'], [t('.estufes_electriques'), 'estufes_electriques'], [t('.bomba_calor'), 'bomba_calor'], [t('.llar_de_foc'), 'llar_de_foc'], [t('.cap_sistema'), 'cap_sistema']] %>
        </div>
      </div>
      <div class="grid-x grid-margin-x">
        <div class="medium-6 cell">
          <%= f.input :antiguitat_calefaccio_2 %>
        </div>
      </div>
    <% end %>

    <% if params[:sistema] == 'refrigeracio' %>
      <div class="grid-x grid-margin-x">
        <div class="medium-12 cell">
          <%= f.input :tipologia_refrigeracio, collection: [[t('.aire_condicionat'), 'aire_condicionat'], [t('.cap_sistema'), 'cap_sistema']] %>
        </div>
      </div>
      <div class="grid-x grid-margin-x">
        <div class="medium-6 cell">
          <%= f.input :antiguitat_refrigeracio %>
        </div>
      </div>
    <% end %>

    <% if params[:sistema] == 'acs' %>
      <div class="grid-x grid-margin-x">
        <div class="medium-12 cell">
          <%= f.input :tipologia_acs, collection: [[t('.caldera_mixta_gas'), 'caldera_mixta_gas'], [t('.escalfador_gas'), 'escalfador_gas'], [t('.termoacumulador_electric'), 'termoacumulador_electric'], [t('.cap_sistema'), 'cap_sistema']] %>
        </div>
      </div>
      <div class="grid-x grid-margin-x">
        <div class="medium-6 cell">
          <%= f.input :antiguitat_acs %>
        </div>
      </div>
    <% end %>

    <% if params[:sistema] == 'generacio' %>
      <div class="grid-x grid-margin-x">
        <div class="medium-12 cell">
          <%= f.input :generacio, collection: [[t('.captadors_solars_termics'), 'captadors_solars_termics'], [t('.cap_sistema'), 'cap_sistema']] %>
        </div>
      </div>
      <div class="grid-x grid-margin-x">
        <div class="medium-6 cell">
          <%= f.input :antiguitat_generacio %>
        </div>
        <div class="medium-6 cell">
          <%= f.input :percentatge_captadors_termics %>
        </div>
      </div>
    <% end %>


  </div>

  <div class="form-actions">
    <%= f.button :submit, t('.guardar'), :class => 'button' %>
  </div>
<% end %>
