<h4 class="titol-clima"><%= t('.refrigeracio') %></h4>
<div class="imatge-clima">
  <%= render partial: '/climatitzacions/imatges', locals: {imatge: @clima.tipologia_refrigeracio} %>
</div>
<div class="text-clima">
  <h5><%= t(@clima.tipologia_refrigeracio) %></h5>
  <p><%= t('.antiguitat') %>: <span class="anys-clima"><%= @clima.antiguitat_refrigeracio %> <%= t('.anys') %></span></p>
  <div class="canvi-sistema-clima">
    <%= link_to edit_climatitzacio_path(@clima.id, sistema: 'refrigeracio'), remote: true do %>
      <%= t('.editar_sistema') %>
    <% end %>
  </div>
</div>