<p id="notice"><%= notice %></p>

<p>
  <strong>Codi:</strong>
  <%= @proposta_predefinida.codi %>
</p>

<p>
  <strong>Mesura:</strong>
  <%= @proposta_predefinida.mesura %>
</p>

<p>
  <strong>A-b3:</strong>
  <%= @proposta_predefinida.a-b3 %>
</p>

<p>
  <strong>A-c2:</strong>
  <%= @proposta_predefinida.a-c2 %>
</p>

<p>
  <strong>A-d1:</strong>
  <%= @proposta_predefinida.a-d1 %>
</p>

<p>
  <strong>A-d2:</strong>
  <%= @proposta_predefinida.a-d2 %>
</p>

<p>
  <strong>A-d3:</strong>
  <%= @proposta_predefinida.a-d3 %>
</p>

<p>
  <strong>A-e1:</strong>
  <%= @proposta_predefinida.a-e1 %>
</p>

<p>
  <strong>B-b3:</strong>
  <%= @proposta_predefinida.b-b3 %>
</p>

<p>
  <strong>B-c2:</strong>
  <%= @proposta_predefinida.b-c2 %>
</p>

<p>
  <strong>B-d1:</strong>
  <%= @proposta_predefinida.b-d1 %>
</p>

<p>
  <strong>B-d2:</strong>
  <%= @proposta_predefinida.b-d2 %>
</p>

<p>
  <strong>B-d3:</strong>
  <%= @proposta_predefinida.b-d3 %>
</p>

<p>
  <strong>B-e1:</strong>
  <%= @proposta_predefinida.b-e1 %>
</p>

<p>
  <strong>C-b3:</strong>
  <%= @proposta_predefinida.c-b3 %>
</p>

<p>
  <strong>C-c2:</strong>
  <%= @proposta_predefinida.c-c2 %>
</p>

<p>
  <strong>C-d1:</strong>
  <%= @proposta_predefinida.c-d1 %>
</p>

<p>
  <strong>C-d2:</strong>
  <%= @proposta_predefinida.c-d2 %>
</p>

<p>
  <strong>C-d3:</strong>
  <%= @proposta_predefinida.c-d3 %>
</p>

<p>
  <strong>C-e1:</strong>
  <%= @proposta_predefinida.c-e1 %>
</p>

<p>
  <strong>D-b3:</strong>
  <%= @proposta_predefinida.d-b3 %>
</p>

<p>
  <strong>D-c2:</strong>
  <%= @proposta_predefinida.d-c2 %>
</p>

<p>
  <strong>D-d1:</strong>
  <%= @proposta_predefinida.d-d1 %>
</p>

<p>
  <strong>D-d2:</strong>
  <%= @proposta_predefinida.d-d2 %>
</p>

<p>
  <strong>D-d3:</strong>
  <%= @proposta_predefinida.d-d3 %>
</p>

<p>
  <strong>D-e1:</strong>
  <%= @proposta_predefinida.d-e1 %>
</p>

<p>
  <strong>E-b3:</strong>
  <%= @proposta_predefinida.e-b3 %>
</p>

<p>
  <strong>E-c2:</strong>
  <%= @proposta_predefinida.e-c2 %>
</p>

<p>
  <strong>E-d1:</strong>
  <%= @proposta_predefinida.e-d1 %>
</p>

<p>
  <strong>E-d2:</strong>
  <%= @proposta_predefinida.e-d2 %>
</p>

<p>
  <strong>E-d3:</strong>
  <%= @proposta_predefinida.e-d3 %>
</p>

<p>
  <strong>E-e1:</strong>
  <%= @proposta_predefinida.e-e1 %>
</p>

<p>
  <strong>F-b3:</strong>
  <%= @proposta_predefinida.f-b3 %>
</p>

<p>
  <strong>F-c2:</strong>
  <%= @proposta_predefinida.f-c2 %>
</p>

<p>
  <strong>F-d1:</strong>
  <%= @proposta_predefinida.f-d1 %>
</p>

<p>
  <strong>F-d2:</strong>
  <%= @proposta_predefinida.f-d2 %>
</p>

<p>
  <strong>F-d3:</strong>
  <%= @proposta_predefinida.f-d3 %>
</p>

<p>
  <strong>F-e1:</strong>
  <%= @proposta_predefinida.f-e1 %>
</p>

<p>
  <strong>G-b3:</strong>
  <%= @proposta_predefinida.g-b3 %>
</p>

<p>
  <strong>G-c2:</strong>
  <%= @proposta_predefinida.g-c2 %>
</p>

<p>
  <strong>G-d1:</strong>
  <%= @proposta_predefinida.g-d1 %>
</p>

<p>
  <strong>G-d2:</strong>
  <%= @proposta_predefinida.g-d2 %>
</p>

<p>
  <strong>G-d3:</strong>
  <%= @proposta_predefinida.g-d3 %>
</p>

<p>
  <strong>G-e1:</strong>
  <%= @proposta_predefinida.g-e1 %>
</p>

<p>
  <strong>H-b3:</strong>
  <%= @proposta_predefinida.h-b3 %>
</p>

<p>
  <strong>H-c2:</strong>
  <%= @proposta_predefinida.h-c2 %>
</p>

<p>
  <strong>H-d1:</strong>
  <%= @proposta_predefinida.h-d1 %>
</p>

<p>
  <strong>H-d2:</strong>
  <%= @proposta_predefinida.h-d2 %>
</p>

<p>
  <strong>H-d3:</strong>
  <%= @proposta_predefinida.h-d3 %>
</p>

<p>
  <strong>H-e1:</strong>
  <%= @proposta_predefinida.h-e1 %>
</p>

<p>
  <strong>I-b3:</strong>
  <%= @proposta_predefinida.i-b3 %>
</p>

<p>
  <strong>I-c2:</strong>
  <%= @proposta_predefinida.i-c2 %>
</p>

<p>
  <strong>I-d1:</strong>
  <%= @proposta_predefinida.i-d1 %>
</p>

<p>
  <strong>I-d2:</strong>
  <%= @proposta_predefinida.i-d2 %>
</p>

<p>
  <strong>I-d3:</strong>
  <%= @proposta_predefinida.i-d3 %>
</p>

<p>
  <strong>I-e1:</strong>
  <%= @proposta_predefinida.i-e1 %>
</p>

<p>
  <strong>Preu:</strong>
  <%= @proposta_predefinida.preu %>
</p>

<p>
  <strong>Tipus proposta:</strong>
  <%= @proposta_predefinida.tipus_proposta %>
</p>

<p>
  <strong>Descripcio:</strong>
  <%= @proposta_predefinida.descripcio %>
</p>

<%= link_to 'Edit', edit_proposta_predefinida_path(@proposta_predefinida) %> |
<%= link_to 'Back', proposta_predefinides_path %>
