
<%= simple_form_for(@component_predefinit_mur) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :familia %>
    <%= f.input :nom %>
    <%= f.input :conductivitat %>
    <%= f.input :densitat %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
