<p id="notice"><%= notice %></p>

<p>
  <strong>Familia:</strong>
  <%= @component_predefinit_mur.familia %>
</p>

<p>
  <strong>Nom:</strong>
  <%= @component_predefinit_mur.nom %>
</p>

<p>
  <strong>Conductivitat:</strong>
  <%= @component_predefinit_mur.conductivitat %>
</p>

<p>
  <strong>Densitat:</strong>
  <%= @component_predefinit_mur.densitat %>
</p>

<%= link_to 'Edit', edit_component_predefinit_mur_path(@component_predefinit_mur) %> |
<%= link_to 'Back', component_predefinit_murs_path %>
